<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @baby.name %><br>
  <strong>Veces hoy:</strong>
  <%= @baby.feeding_times_today %><br>
  <strong>Tiempo Ultima vez:</strong>
  <%= @baby.last_time %><br>
  <strong>Volumen hoy:</strong>
  <%= @baby.volumen_today %><br>
</p>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
